<% provide :title, t(".title") %>
<h1><%= t(".h1") %></h1>
<p>
  <%= t(".p1")%>
  <%= link_to "http://www.railstutorial.org/help" do %>
    <%= t(".p1")%>
    <%= t(".p2")%>
  <% end %>
  <%= link_to "http://www.railstutorial.org/book" do %>
    <em>
      <%= t ".p3" %>
    </em>
  <% end %>
</p>
